<div class="mt-5 container">
    <div class="row justify-content-center">
        <div class="col-lg-4 mb-3 d-flex justify-content-center">
            <img src="{{user.avatar}}" alt="piture of {{user.username}}" class="avatar">
        </div>
        <div class="col-lg-4 mb-3">
            <h2>{{user.username}}</h2>
            <h4>{{user.email}}</h4>
            <p>{{user.description}}</p>
            <form action="/users/{{user.id}}/delete" method="POST">
                <a href="/users/{{user.id}}/update" class="btn btn-dark">Edit</a>
                {{#if ./role.isADMIN}}
                <input type="submit" value="Delete" class="btn btn-danger">
                {{/if}}
            </form>
        </div>
        <div class="col-lg-4 mb-3">
            <h2>savi: {{user.points}}</h2>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col"></th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each user.stashes}}
                    <tr>
                        <td>{{id.name}}</td>
                        <td></td>
                        <td>{{id.value}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>


        <div class="col-lg-4 mb-3">
            <h2>Get more savi on the trivia</h2>
            <hr>
            <form action="/users/{{user.id}}/trivia" method="POST">
                <div class="form-row">
                    {{#if reply.success}}
                    <h5 class="correct">CORRECT ANSWER</h5>
                    {{/if}}
                    {{#if reply.failure}}
                    <h5 class="error">INCORRECT ANSWER</h5>
                    {{/if}}
                    <div class="form-group mb-3">
                        <label for="name">Category</label>
                        <input type="text" class="form-control" id="name" name="username" value="{{trivia.category}}"
                            readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label for="question">Question</label>
                        <textarea type="text" class="form-control" id="question"
                            name="question">{{trivia.question}}</textarea>
                    </div>
                    <div class="form-group mb-3">
                        <label for="name">Answers</label>
                        <select name="answers" class="form-control">
                            {{#each trivia.responses}}
                            <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                    </div>

                </div>
                <button type="submit" class="btn btn-secondary">Send</button>
            </form>

        </div>
    </div>


</div>