<div class="mt-5 container">
    <div class="row justify-content-center">
        <div class="col-lg-4 mb-3">
            <img src="{{avatar}}" alt="piture of {{username}}" class="avatar">
        </div>
        <div class="col-lg-4 mb-3">
            <h2>{{username}}</h2>
            <h4>{{email}}</h4>
            <p>{{description}}</p>
        </div>
        <div class="col-lg-4 mb-3">
            <h2>savi: {{points}}</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col"></th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                {{#each stashes}}
                <tbody>
                    <tr>
                        <td>{{id.name}}</td>
                        <td></td>
                        <td>{{id.value}}</td>
                    </tr>
                </tbody>
                {{/each}}
            </table>
        </div>
        <div class="col-lg-4 mb-3">
            <h2>Get more savi on the trivia</h2>
            <hr>


        </div>


    </div>
    <form action="/users/{{id}}/delete" method="POST">
        <a href="/users/{{id}}/update" class="btn btn-info">Edit</a>
        <input type="submit" value="Delete" class="btn btn-danger">
    </form>

</div>