<p>{{name}}
</p>
<p>{{description}}
</p>
<p>{{owner.username}}
</p>
<p>{{type}}
</p>
<p>
    {{#each stashes}}
    {{name}}
    {{/each}}
</p>

<a href="/maps/{{id}}/edit">Edit</a>
<a href="/stashes/{{id}}/create">Add stash</a>