<div class="mt-5 container">
    <h1>{{name}}</h1>
    <p>{{description}}</p>


    <div class="row justify-content-between">
        <div class="col-6">
            <h2>Activity</h2>
            <table class="table  table-success table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>

            <form action="/maps/{{id}}/delete" method="post" class="mb-5">
                <a href="/stashes/{{id}}/create" class="btn btn-success">Add stash</a>
                <a href="/maps/{{id}}/edit" class="btn btn-info">Edit</a>
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
        <div class="col-4">
            <h2>Stashes</h2>
            {{#each stashes}}
            <div>
                <a class="btn btn-outline-info stash" data-bs-toggle="collapse" href="#collapseExample{{@index}}"
                    role="button" aria-expanded="false" aria-controls="collapseExample{{@index}}">
                    {{name}}
                </a>
            </div>
            <div class="collapse" id="collapseExample{{@index}}">
                <div class="card card-body">
                    <p>{{description}}</p>
                    <form action="#" method="post">
                        <input type="text">
                        <button class="btn btn-success" type="submit">Test</button>
                    </form>
                </div>
            </div>
            {{/each}}
        </div>
    </div>



    <div class="row justify-content-between">
        <div class="col-6">
            <h2>Reviews</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Rating</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each reviews}}
                    <tr>
                        <td>{{title}}</td>
                        <td>{{description}}</td>
                        <td>{{rating}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <h2>Write a review</h2>
            <form action="/reviews/{{id}}/create/" method="post">
                <div class="mb-3">
                    <label for="title" class="form-label">Review</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                </div>
                <select class="mb-3 form-select" name="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3" selected>3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>